language: c

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds. A full list of packages
# that can be included can be found here:
#
# https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise

cache:
    directories:
        - $HOME/cache

addons:
    apt:
        packages:
            - graphviz
            - texlive-latex-extra
            - dvipng

branches:
  only:
    - "master"


env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - ASTROPY_VERSION=stable
        - CONDA_DEPENDENCIES='scipy matplotlib pytest pip h5py statsmodels pyyaml numba'
        - PIP_DEPENDENCIES='patsy'
        - MAIN_CMD='python setup.py'
        - SETUP_XVFB=True
        - SETUP_CMD='test'
    matrix:
        - PYTHON_VERSION=2.7 SETUP_CMD='egg_info'
        - PYTHON_VERSION=3.6 SETUP_CMD='egg_info'

matrix:
    fast_finish: true
    include:
        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        # Try all python versions with the latest numpy
        - os: osx
          env: PYTHON_VERSION=3.6 SETUP_CMD='test'

        - env: PYTHON_VERSION=2.7 SETUP_CMD='test --coverage'
        - env: PYTHON_VERSION=3.6 SETUP_CMD='test --coverage'
        # No NUMBA
        - env: PYTHON_VERSION=3.6 CONDA_DEPENDENCIES='scipy matplotlib pytest pip h5py statsmodels pyyaml' SETUP_CMD='test --coverage'
        # No statsmodels
        - env: PYTHON_VERSION=3.6 CONDA_DEPENDENCIES='scipy matplotlib pytest pip h5py pyyaml numba' SETUP_CMD='test --coverage'
        # Documentation
        - env: PYTHON_VERSION=2.7 SETUP_CMD='build_docs -w'

        # From here on, they are allowed to fail
        # Try Astropy development version
        - env: PYTHON_VERSION=2.7 ASTROPY_VERSION=development SETUP_CMD='test'
        - env: PYTHON_VERSION=3.6 ASTROPY_VERSION=development SETUP_CMD='test'
        - env: PYTHON_VERSION=3.4 SETUP_CMD='test' NUMPY_VERSION=1.11
        # Old matplotlib
        - env: PYTHON_VERSION=3.4 SETUP_CMD='test' CONDA_DEPENDENCIES='scipy matplotlib==1.4.3 pytest pip'
        # Try older numpy versions
        - env: PYTHON_VERSION=3.4 NUMPY_VERSION=1.9 SETUP_CMD='test'
        # No pyyaml
        - env: PYTHON_VERSION=3.6 CONDA_DEPENDENCIES='scipy matplotlib pytest pip h5py statsmodels numba'
        # Test Astropy LTS version
        - env: PYTHON_VERSION=2.7 SETUP_CMD='test' ASTROPY_VERSION=lts
        - env: PYTHON_VERSION=3.6 SETUP_CMD='test' ASTROPY_VERSION=lts
    allow_failures:
        # Try Astropy development version
        - env: PYTHON_VERSION=2.7 ASTROPY_VERSION=development SETUP_CMD='test'
        - env: PYTHON_VERSION=3.6 ASTROPY_VERSION=development SETUP_CMD='test'
        - env: PYTHON_VERSION=3.4 SETUP_CMD='test' NUMPY_VERSION=1.11
        # Old matplotlib
        - env: PYTHON_VERSION=3.4 SETUP_CMD='test' CONDA_DEPENDENCIES='scipy matplotlib==1.4.3 pytest pip'
        # Try older numpy versions
        - env: PYTHON_VERSION=3.4 NUMPY_VERSION=1.9 SETUP_CMD='test'
        # No pyyaml
        - env: PYTHON_VERSION=3.6 CONDA_DEPENDENCIES='scipy matplotlib pytest pip h5py statsmodels numba'
        # Test Astropy LTS version
        - env: PYTHON_VERSION=2.7 SETUP_CMD='test' ASTROPY_VERSION=lts
        - env: PYTHON_VERSION=3.6 SETUP_CMD='test' ASTROPY_VERSION=lts
        - os: osx
          env: PYTHON_VERSION=3.6 SETUP_CMD='test'



before_install:
#    - sudo wget https://gist.githubusercontent.com/dmitriy-kiriyenko/974392/raw/337a72368029046f28f0391c914c02d0ef3ad9d7/xvfb -O /etc/init.d/xvfb
#    - sudo chmod a+x /etc/init.d/xvfb
    - git clone git://github.com/astropy/ci-helpers.git
    - cp setup_conda_$TRAVIS_OS_NAME.sh ci-helpers/travis/
    - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh


install:
    # OPTIONAL DEPENDENCIES
    # Here you can add any dependencies your package may have. You can use
    # conda for packages available through conda, or pip for any other
    # packages. You should leave the `numpy=$NUMPY_VERSION` in the `conda`
    # install since this ensures Numpy does not get automatically upgraded.
    - if [[ $SETUP_CMD != egg_info ]] && [[ $USE_NUMBA == yes ]]; then $CONDA_INSTALL numba; fi
    - if [[ $SETUP_CMD != egg_info ]]; then python setup.py install; fi

before_script:

script:
    - $MAIN_CMD $SETUP_CMD
after_script:

after_success:
#    # If coveralls.io is set up for this package, uncomment the line
#    # below and replace "packagename" with the name of your package.
#    # The coveragerc file may be customized as needed for your package.
   - if [[ $SETUP_CMD == 'test --coverage' ]]; then coveralls --rcfile='srttools/tests/coveragerc'; fi
