include README.md
include CHANGELOG.rst
include pyproject.toml

recursive-include docs *
recursive-include licenses *
recursive-include srttools/data *.ini

graft srttools/monitor/resources

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
